#ogreddit {
  font: 12px tahoma, sans-serif;
  z-index: 9999;
}

.fbPopup {
  bottom: 25px;
  right: 20px;
  border: solid 1px #333;
  background: #fff;
  border: solid 1px #333;
  padding: 15px;
  position: fixed;
}

.closed .fbPopup {
  display: none;
}

.connected .fb-add-to-timeline {
  margin-top: -7px;
}

.fbPopupNib {
  bottom: 0px;
  right: 20px;
  height: 25px;
  width: 30px;
  border: solid 1px #333;
  border-bottom: 0;
  background: #eef;
  position: fixed;
  cursor: pointer;
}

.fbPopupNib.success {
  background: #1f4;
}

.fbPopupNib.error {
  background: #e12;
}

.disconnected #settings {
  display: none;
}

#settings {
  margin-top: 15px;
}

#settings label {
  margin-left: 10px;
}

#settings * {
  line-height: 14px;
  vertical-align: middle;
}