#ogreddit .settings {
  position: fixed;
  bottom: 0px;
  height: 180px;
  width: 100%;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/texture.png');
  background-repeat: repeat;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  padding: 15px;
  border-top: 3px #333 solid;
  -webkit-transition: bottom .3s;
}

#ogreddit .settingsNib {
  position: relative;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/facebook.png');
  background-color: #333;
  border-top: 1px #111 solid;
  border-left: 1px #555 solid;
  border-right: 1px #222 solid;
  float: right;
  right: 50px;
  display: inline-block;
  height: 29px;
  width: 98px;
  top: -45px;
  cursor: pointer;
}

#ogreddit .settings.closed {
  bottom: -214px;
}

#ogreddit .settings h1 {
  color: #ccc;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}

#ogreddit .settings h2 {
  color: #bbb;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: normal;
  margin-left: 10px;
}

#ogreddit .settings .setting {
  color: #1b1b1b;
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 5px;
}

#ogreddit .settings .setting label {
  margin-left: 5px;
}

#ogreddit .publishSubsettings {
  margin-left: 15px;
}

#ogreddit .subredditSettingsLink {
  color: #11c;
  margin-left: 5px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}

#ogreddit .fb-add-to-timeline {  
  float: right;
  position: relative;
  top: 0;
  right: -64px;
  background-color: RGBA(0, 0, 0, .15);
  padding: 7px 0px 15px 15px;
  margin-right: -5px;
  -webkit-border-radius: 8px;
  max-height: 150px;
  overflow: hidden;
}

